h1{
    margin-left: 500px;
  }
  img{
    margin-left: px;
      width:50%
  }
  h1{
    margin-left: 500px;
  }
  img{
    margin-left: px;
      width:50%
  }
  
body{

    background-color: tomato;
}